.cabeçalho{background-color: rgb(196, 215, 255); color:rgb(0, 0, 0) rgb(58, 2, 83);
   color: black;
display: flex;
justify-content: center;}


   .imagem-logo{width: 20%;}
   .sobre-ufc{
      background-image: linear-gradient(#80b5dc,#3bd0f1);
      color: black;
      padding: 24px 0;
   }
